sudo: false
language: cpp
compiler:
  - gcc
os: linux
script: make
notifications:
  email: false
addons:
  apt:
    sources:
    - boost-latest
    packages:
    - libboost-dev
    - libboost-locale-dev
    - libcurl4-gnutls-dev
